<footer id="grve-footer" class="grve-section">

  <section class="grve-footer-bar">
    <div class="grve-container">
      <div class="grve-row">

        <div class="grve-column-1-2">
          <div class="grve-copyright">
            Copyright 2015 - All Rights Reserved.

          </div>
        </div>
        <div class="grve-column-1-2">
          <div class="grve-second-menu">
            <ul id="menu-main-menu-1" class="menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-165">
                <div class="grve-mainmenu-btn"></div>
                <%= link_to "Perforation" , dashboard_perforation_path %>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-137">
                <div class="grve-mainmenu-btn"></div>
                <%= link_to "Wireline Services" , dashboard_wireline_services_path %>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-505">
                <%= link_to "Coiled Tubing" , dashboard_coiled_tubing_path %>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-505">
                <%= link_to "E-Coiled Tubing" , dashboard_e_coil_path %>
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-320">
                <div class="grve-mainmenu-btn"></div>
                <%= link_to "about TAHA" , dashboard_about_path %>
              </li>
              <!-- <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130">
                <a href="#">Contact TAHA</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


</footer>