
    <header id="grve-header" class="grve-style-2 grve-header-dark" data-height="90" style="position: fixed; top: 0px;">
      <div class="grve-container">
        <h1 class="grve-logo" style="">
          <a href="/">
          <%= image_tag "logo.jpg" %>
          </a>
        </h1>


        <ul class="grve-header-options">
          <li>
            <a href="#" class="grve-menu-btn">
              <!--<img src="./TAHA – Big Guns Energy Services Inc._files/menu-button.svg" alt="Main Menu">-->
            <%= image_tag "menu-button.svg" %>
            </a>
          </li>
        </ul>

        <nav class="grve-horizontal-menu">
          <ul id="menu-main-menu" class="grve-menu">
          <li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-165">
          <div class="grve-mainmenu-btn"></div>

            <ul class="sub-menu">
              <li id="menu-item-261" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-261"><a href="#">Caprock Core Recovery</a></li>
              <li id="menu-item-262" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-262"><a href="#">Geotechnical Laboratory</a></li>
              <li id="menu-item-265" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-265"><a href="#">Mini-frac / DFIT</a></li>
              <li id="menu-item-264" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-264"><a href="#">Step-Rate Test</a></li>
              <li id="menu-item-263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-263"><a href="#">Water Mobility Testing</a></li>
              <li id="menu-item-439" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-439"><a href="#">Thermal Reservoir Simulation</a></li>
              <li id="menu-item-444" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-444"><a href="#">Hydrogeology Study / Analysis</a></li>
            </ul>
          </li>
            
            <li id="menu-item-137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-137"><div class="grve-mainmenu-btn"></div>
                <%= link_to "Perforating" , dashboard_perforation_path %>

              <ul class="sub-menu">
                <li id="menu-item-394" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-394"><div class="grve-mainmenu-btn"></div>
                <%= link_to "TCP" , dashboard_tcp_path %>
                </li>
              </ul>
            </li>

            <li id="menu-item-137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-137"><div class="grve-mainmenu-btn"></div><a href="#">Wireline Services</a>
              <ul class="sub-menu">
                <li id="menu-item-394" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-394"><div class="grve-mainmenu-btn"></div>
                <a href="#">Open Hole Logging</a>
                </li>
                <li id="menu-item-298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298"><a href="#">Cased-Hole Logging</a></li>
              </ul>
            </li>


            <li id="menu-item-505" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-505"><a href="#">Well Testing</a></li>
            <li id="menu-item-320" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-320 grve-menu-item-right">
              <div class="grve-mainmenu-btn"></div>
              <%= link_to "aboutTAHA" , dashboard_about_path %>
              <ul class="sub-menu">
                <li id="menu-item-331" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-331">
              <%= link_to "Our Company" , dashboard_about_path %>
                </li>

                <li id="menu-item-327" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-327">
              <%= link_to "Philosophy" , dashboard_philosophy_path %>                
                </li>
                <li id="menu-item-790" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-790">
                <a href="#">News</a></li>
                
                <li id="menu-item-319" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319">
                <a href="#">Key People</a>
                </li>
                <li id="menu-item-339" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-339">
                  <div class="grve-mainmenu-btn"></div>
              <%= link_to "HSE policy" , dashboard_HSEpolicy_path %>                

                  <ul class="sub-menu">
                    <li id="menu-item-771" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-771">
              <%= link_to "HSE policy" , dashboard_HSEpolicy_path %>                
                    
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
           <!--  <li id="menu-item-130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130"><a href="#">Contact TAHA</a></li> -->
          </ul>							</nav>
      </div>


      <div id="grve-share-modal" class="grve-header-modal mfp-hide">	<div class="grve-social">		<ul><li><a href="#" target="_blank">
        <i class="fa fa-twitter"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>		</ul>	</div></div>





    </header>